@model Megventory_API.Models.mvDiscounts

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>mvDiscounts</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscountName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscountDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscountValue)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DiscountID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
