@model IEnumerable<Megventory_API.Models.mvSalesOrders>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SalesOrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalesOrderClientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalesOrderDetails[0].SalesOrderRowDetailID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalesOrderDetails[0].SalesOrderRowProductSKU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalesOrderDetails[0].SalesOrderRowProductDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalesOrderStatus)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SalesOrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalesOrderClientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalesOrderDetails[0].SalesOrderRowDetailID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalesOrderDetails[0].SalesOrderRowProductSKU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalesOrderDetails[0].SalesOrderRowProductDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalesOrderStatus)
            </td>s
            <td>
                <a asp-action="Edit" asp-route-id="@item.SalesOrderId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SalesOrderId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SalesOrderId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

