@model Megventory_API.Models.Taxes

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Taxes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxValue)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.mvTaxes">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
